<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
   
    <title><%= title%></title>
</head>
<body>
    <%- include('navbar')%>
    
    <div style="text-align: center;margin-top:3rem"><h1>Add User Form</h1></div>
   
      <div class="container" style="border:2px solid,">
        <div class="row">
          <div class="col">
            
        <!-- </div> -->
          <div class="col">
            <form style="width: 100%;" method="post" action="/add" enctype="multipart/form-data">

              <div class="container">
                <div class="row g-3">
                    <div class="col">
                      <div class="card" style="width: 18rem;">
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Upload Image</label>
                          <input type="file" name="image" class="form-control" id="exampleInputPassword1">
                        </div>
                        <!-- <img src="" class="rounded-circle" alt="Cinque Terre" width="304" height="236">  -->
                      </div>
                    </div>
                    <div class="col">
                      <div class="row g-6">
                        <div class="col">
                          <input type="text" name="fullname" class="form-control" placeholder="Full name" aria-label="First name">
                        </div>
            
                        <div class="col">
                          <input type="text" name="email" class="form-control" placeholder="Email" aria-label="Last name">
                        </div><br><br>
                        
                      </div>
                      <div class="row g-6">
                        <div class="col">
                          <input type="text" name="number" class="form-control" placeholder="Phone" aria-label="First name">
                        </div>
            
                        <div class="col">
                          <input type="text" name="country" class="form-control" placeholder="Country" aria-label="Last name">
                        </div><br><br>
                        
                      </div>

                      <div class="row g-6">
                        <div class="col">
                          <input type="text" name="province" class="form-control" placeholder="State/Province" aria-label="First name">
                        </div>
            
                        <div class="col">
                          <input type="text" name="city" class="form-control" placeholder="City" aria-label="Last name">
                        </div><br><br>
                        
                      </div>

                      <div class="row g-6">
                        <div class="col">
                          <input type="text" name="address" class="form-control" placeholder="Address" aria-label="First name">
                        </div>
            
                        <div class="col">
                          <input type="number" name="zipcode" class="form-control" placeholder="Zip Code" aria-label="Last name">
                        </div><br><br>
                        <button type="submit" class="btn btn-primary">Add User</button>
                      </div>
                      </form>
                  </div>
                    </div>
                </div>


              </div>   
        </div>
      </div>
</body>
</html>